@media (min-width: 1200px){


    #beneficio1, #beneficio2, #beneficio3, #beneficio4{
        height: 500px;
        padding-top: 40px;
        display: flex;
        align-items: center;
    }

    #beneficio2{
        height: 300px;
        padding-top: 0px;
    }

    #beneficio3{
        height: 350px;
        padding-top: 0px;
        align-items: flex-start;
    }

    #beneficio4{
        height: 600px;
        padding-top: 0px;
    }

}
