@media (min-width: 1200px) {
    #explicacao1, #explicacao2, #explicacao3, #explicacao4{
        height: 520px;
        padding-top: 40px;
        display: flex;
        align-items: center;
    }

    #explicacao2{
        height: 300px;
        margin-bottom: 60px;
    }

    #explicacao3{
        height: 450px;
        margin-bottom: 60px;
        padding-top: 0px;
    }

    #btn-baixar{
        width: 250px;
        height: 40px;
        font-size: 18px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FDBA22;
        border: 1px solid #FDBA22;
        margin-left: 30%;
        margin-top: 100px;
        cursor: pointer;
    }

    #explicacao4{
        height: 950px;
        flex-direction: column;
    }

    .aplicativo-texto{
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }

    .aplicativo-texto p{
        text-align: center;
        font-weight: 600;
    }

    .aplicativo-img{
        width: 100%;
        height: 700px;
    }

    .aplicativo-img img{
        width: 33%;
        height: 100%;
    }
    
}